{% extends 'base.html' %}

{% block page_data %}
<title>Browse Cards - Generator Against Humanity</title>
<link rel="stylesheet" href="/static/styles/index.css">
{% endblock %}

{% block content %}
<header>
    <h1>Browse Cards</h1>
    {% if current_user %}
    <section class="user">
        <h3>Hey, {{ current_user['first_name'] }}</h3>
        <section class="user-controls">
            <form action="/sessions/delete" method="POST">
                <button>Sign Out</button>
            </form>
            <a href="/cards/saved/{{ current_user['user_id'] }}">My Cards</a>
        </section>
    </section>
    {% else %}
    <a href="/users/new">Sign Up/In</a>
    {% endif %}
</header>
<main>
    {% if current_user == None %}
    <h2>Please <a href="/sessions/new">sign in</a> to save cards.</h2>
    {% endif %}
    <section class="cards">
        {% for card in cards %}
        <section class="card-container">
            <section class="display {{ card['color']}}">
                <p class="text">{{ card['text'] }}</p>
                <p class="author">Created by {{ card['author_name'] }}</p>
            </section>
            <section class="controls">
                {% if current_user['user_id'] == card['author_id'] %}
                <form action="/cards/edit/{{ card['card_id'] }}">
                    <button>Edit</button>
                </form>
                <form action="/cards/delete/{{ card['card_id'] }}" method="POST">
                    <button>Delete</button>
                </form>
                {% elif card['card_id'] in saved_cards %}
                <form action="/cards/remove/{{ card['card_id'] }}-{{ current_user['user_id'] }}" method="POST">
                    <button>Remove from Saved</button>
                </form>
                {% elif current_user %}
                <form action="/cards/save/{{ card['card_id'] }}">
                    <button>Save to My Cards</button>
                </form>
                {% endif %}
            </section>
        </section>
        {% endfor %}
    </section>
</main>
<footer>
    <a href="/">Back to Welcome</a>
    {% if current_user %}
    <a href="/cards/new">Create a Card</a>
    {% endif %}
</footer>
{% endblock %}
