{% extends'base.html' %}

{% block page_data %}
<title>My Cards - Generator Against Humanity</title>
<link rel="stylesheet" href="/static/styles/index.css">
{% endblock %}

{% block content %}
<header>
    {% if current_user %}
    <h1>My Cards</h1>
    <section class="user">
        <h3>Hey, {{ current_user['first_name'] }}</h3>
        <section class="user-controls">
            <form action="/sessions/delete" method="POST">
                <button>Sign Out</button>
            </form>
            <a href="/cards/browse">Browse Cards</a>
        </section>
    </section>
    {% else %}
    
    {% endif %}
</header>
<main>
    {% if current_user %}
    <section class="cards">
        {% for card in cards %}
        <section class="card-container">
            <section class="display {{ card['color']}}">
                <p class="text">{{ card['text'] }}</p>
                <p class="author">Created by {{ card['author_name'] }}</p>
            </section>
            <section class="controls">
                {% if current_user['user_id'] == card['author_id'] %}
                <form action="/cards/edit/{{ card['card_id'] }}">
                    <button>Edit</button>
                </form>
                <form action="/cards/delete/{{ card['card_id'] }}" method="POST">
                    <button>Delete</button>
                </form>
                {% else %}
                <form action="/cards/remove/{{ card['card_id'] }}-{{ current_user['user_id'] }}" method="POST">
                    <button>Remove from Saved</button>
                </form>
                {% endif %}
            </section>
        </section>
        {% endfor %}
    </section>
    {% else %}
    <h1>You don't seem to be logged in...<br>
        How did you even get here? You shouldn't be able to do that.<br>
        Try signing in and coming back here.
    </h1>
    {% endif %}
</main>
<footer>
    <a href="/">Back to Welcome</a>
    {% if current_user %}
    <a href="/cards/new">Create a Card</a>
    {% endif %}
    <a href="/generator/new">Generator</a>
</footer>
{% endblock %}
