body {
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    margin: 15px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
header h1, h3 {
    margin: 5px 0;
    min-width: fit-content;
}
.user {
    display: flex;
    justify-content: space-between;
    width: 25vw;
    min-width: 200px;
}
.user-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main {
    margin: 10px;
}
a, button {
    border: none;
    background-color: black;
    color: white;
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
}
.display {
    font-size: 1.2em;
    --base-width: 160px;
    width: var(--base-width);
    height: calc(var(--base-width) * 1.39);
    border-radius: calc(var(--base-width) * 0.08);
    padding: calc(var(--base-width) * 0.12);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.display p {
    margin: calc(var(--base-height) * 0.025) 0;
}
.author {
    font-size: 0.7em;
}
.black {
    background-color: black;
    border: 1px solid white;
}
.white {
    background-color: white;
    border: 1px solid black;
    color: black;
}
footer {
    margin: 10px;
}
footer a {
    font-size: 1.5em;
    padding: 10px;
}
