body {
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}
a, button {
    border: none;
    background-color: black;
    color: white;
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
}
