{% extends 'base.html' %}

{% block page_data %}
<title>Welcome - Generator Against Humanity</title>
<link rel="stylesheet" href="/static/styles/welcome.css">
{% endblock %}

{% block content %}
<header>
    <h1>Welcome</h1>
    {% if current_user %}
    <section class="user">
        <h3>Hey, {{ current_user['first_name'] }}</h3>
        <section class="user-controls">
            <form action="/sessions/delete" method="POST">
                <button>Sign Out</button>
            </form>
            <a href="/cards/saved/{{ current_user['user_id'] }}">My Cards</a>
        </section>
    </section>
    {% else %}
    <a href="/users/new">Sign Up/In</a>
    {% endif %}
</header>
<main>
    <h1>Not implemented yet!</h1>
</main>
{% endblock %}
