{% extends 'base.html' %}

{% block page_data %}
<title>Filters - Generator Against Humanity</title>
<link rel="stylesheet" href="/static/styles/generator.css">
{% endblock %}

{% block content %}
<header>
    <h1>Filters</h1>
    {% if current_user %}
    <section class="user">
        <h3>Hey, {{ current_user['first_name'] }}</h3>
        <section class="user-controls">
            <form action="/sessions/delete" method="POST">
                <button>Sign Out</button>
            </form>
            <a href="/cards/saved/{{ current_user['user_id'] }}">My Cards</a>
        </section>
    </section>
    {% else %}
    <a href="/users/new">Sign Up/In</a>
    {% endif %}
</header>
<main>
    <form action="/generator" method="POST">
        <h1>Select packs:</h1>
        <p><span>Disclaimer:</span> If you want to keep it PG (maybe M at most), select <span>ONLY</span> the "Family Edition" pack. I am not responsible for what appears on your screen otherwise.</p>
        <section class="filters">
            <section class="family filter">
                <label for="">{{  packs[0] }}</label>
                <input type="checkbox" name="filter" value="{{ packs[0] }}">
            </section>
            {% for pack in packs[1:] %}
            <section class="filter">
                <label for="">{{ pack }}</label>
                <input type="checkbox" name="filter" value="{{ pack }}">
            </section>
            {% endfor %}
        </section>
        {% if current_user %}
        <section class="saved filter">
            <label for="">Include my Saved Cards</label>
            <input type="checkbox" name="saved-cards" value="true" checked>
        </section>
        {% endif %}
        <button id="generate">Let's go already!</button>
    </form>
</main>
<footer>
    <a href="/">Back to Welcome</a>
    {% if current_user %}
    <a href="/cards/new">Create a Card</a>
    {% endif %}
</footer>
{% endblock %}
